@import "./../../../styles/mixins";
@import "./../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  justify-content: center;

  @include layout;
}

.fonBanner {
  position: absolute;
  left: 0;
  top: 156px;
  z-index: -1;

  @media (max-width: $mobile) {
    top: 120px;
  }
}

.carBanner {
  position: absolute;
  width: 711px;
  height: 440px;
  top: 100px;
  right: 40px;

  @media (max-width: $tablet) {
    width: 440px;
    height: 290px;
    top: 70px;
  }
  @media (max-width: $mobile) {
    width: 211px;
    height: 140px;
    top: 80px;
  }
}

.shell {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: left;
  width: 40%;
  margin-top: 350px;

  @media (max-width: $tablet) {
    margin-top: 320px;
    width: 60%;
  }
  @media (max-width: $mobile) {
    margin-top: 220px;
    width: 90%;
  }
}

.heading {
  font-size: 32px;
  font-weight: $text-regular-text;
}

.title {
  @include title-h1;
}

.description {
  font-size: 20px;
  font-weight: $text-regular-text;
  font-variation-settings: "opsz" 600;

  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }
}

.subtitle {
  font-size: 32px;
  font-weight: $text-regular-text;
  font-variation-settings: "opsz" 600;

  @media (max-width: $mobile) {

    font-size: 26px;
  }
}

.shellContacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-end;

  @media (max-width: $mobile) {
    align-items: flex-start;
  }
}
