@import "./../../shared/styles/mixins";

.container {
  @include layout;
  display: flex;
  flex-direction: column;
  height: 430px;
  align-items: center;
  width: 100%;
  gap: 120px;
  margin-top: 200px;

  @media (max-width: $mobile) {
    gap: 90px;
    height: 380px;
  }
}

.bg {
  background-color: $color-footer-grey;
}

.shell {
  @include layout;

  height: 120px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: $text-book;
}

.bgBottom {
  background-color: $color-dark;
}

.icon {
  width: 382px;
  height: 60px;
  margin-top: 98px;
  object-fit: cover;

  @media (max-width: $mobile) {
    width: 282px;
    height: 40px;
    margin-top: 80px;
  }
}

.border {
  border-top: 1px solid $color-border-grey;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  align-items: center;
  text-align: right;
}

.number,
.address {
  padding-top: 30px;
}

.address {
  font-size: 24px;
  font-weight: $text-book;

  @media (max-width: $mobile) {
   font-size: 20px;
  }
}

.number {
  font-size: 30px;
  font-weight: $text-black-text;

  @media (max-width: $mobile) {
   font-size: 20px;
  }
}
