@import "../../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  height: 338px;
  background-color: $color-grey-card;
  padding: 24px 24px;
  border-radius: 16px;
}

.container-L {
  width: 100%;
  position: relative;

  .image{
    position: absolute;
    right: 40px;
    top: 130px;
  }
  .shell {
    justify-content: space-between;
  }
}

.container-M {
  width: calc(77.77% - 150px);
  position: relative;

  .shell {
    justify-content: space-between;
  }
  .image {
    margin-right: 60px;
    object-fit: cover;
    position: absolute;
    top: 130px;
    right: 20px;
  }
}

.container-S {
  width: calc(33.33%);
  position: relative;
  overflow: hidden;

  .image {
    position: absolute;
    right: -100px;
    object-fit: cover;
  }
  .shell {
    justify-content: space-between;
  }
}

.title {
  @include title-h2;
  margin-bottom: 24px;
}

.description {
  font-weight: $text-book;
  font-size: 15px;
  max-width: 300px;
  padding-bottom: 16px;
}

.image {
  width: 356px;
  height: 202px;
}

.shell {
  display: flex;
}
