@import "./../../../styles/mixins";

.containerCallTruck {
  @include layout;
  margin-top: 200px;

  @media (max-width: $tablet) {
   margin-top: 150px;
  }
  @media (max-width: $mobile) {
    margin-top: 100px;
  }
}

.container {
  display: flex;
  width: 100%;
  gap: 166px;
  justify-content: center;

  @media (max-width: $tablet) {
    gap: 70px;
  }
  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 66px;
  }
}
