@import "./../../styles/mixins";

.title {
  @include title-h3;
}

.border {
  border-bottom: 1px solid #ff7f50;
  width: 250px;
  padding-bottom: 10px;
}

.closeImg {
  width: 45px;
  height: 45px;
  margin-top: 0;
}

.pointImg {
  width: 25px;
  height: 25px;
}

.wrapper {
 display: flex;
  justify-content: space-between;
}

.titleWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}