@import "./../../../styles/mixins";

.containerCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.container {
  margin-bottom: 66px;
  @include layout;
  margin-top: 200px;
}
