@import "./../../shared/styles/mixins";

.border_bottom {
  border-bottom: 1px solid #cccccc;

  @media (max-width: $mobile) {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;

  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;


  @include layout;
  @media (max-width: $tablet) {

  }
  @media (max-width: $mobile) {

  }
}

.container_promo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo {
  @include title-promo;

  @media (max-width: $tablet) {
    @include title-h3;
  }
  @media (max-width: $mobile) {
    @include title-h3;
  }
  @media (max-width: $mobile-xs) {
    @include title-h4;
  }
}

.promo_description {
  font-weight: $text-book;
  font-size: 11px;

  @media (max-width: $tablet) {
    display: none;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}

.container_menu {
  display: flex;
  gap: 20px;
  font-weight: $text-medium;
  font-size: 16px;
  color: #000000;
  height: 100%;
  align-items: center;

  :nth-child(3) {
    font-weight: $text-extra-bold;
  }

  :nth-child(4) {
    color: #cccccc;
    cursor: default;
    pointer-events: none;
  }
  :nth-child(5) {
    color: #cccccc;
    cursor: default;
    pointer-events: none;
  }

  @media (max-width: $tablet) {
    display: none;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}

.active {
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.active_link {
  margin-bottom: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 0 0 $color-orange-primary !important;
}

.number {
  @include title-promo;

  @media (max-width: $tablet) {
    font-weight: $text-medium;
    color: #000000;
    font-size: 20px;
  }
  @media (max-width: $mobile) {
    font-weight: $text-medium;
    color: #000000;
    font-size: 18px;
  }
  @media (max-width: $mobile-xs) {
    font-weight: $text-medium;
    color: #000000;
    font-size: 12px;
  }
}

.shell {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  align-items: center;
}

.icon_menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;

  &:active {
    top: 1px;
    position: relative;
  }

  @media (max-width: $tablet) {
    display: block;
  }
  @media (max-width: $mobile) {
    display: block;
  }
}
