@import "./../../styles/mixins";

.container{
  @include layout;
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
  margin-top: 200px;
}

.title{
  @include title-h1;
  width: 70%;
}

.description{
  font-size: 20px;
  font-weight: $text-medium;
}

.shell{
  display: flex;
  flex-direction: column;
  gap: 20px;
}