@import "./variables";

/** fonts */

@mixin title-promo {
  font-size: 36px;
  font-weight: $text-heavy;
  line-height: 1.3;
}

@mixin title-h1 {
  font-size: 48px;
  font-weight: $text-heavy;
  color: $color-dark;
  line-height: 1.3;
}

@mixin title-h2 {
  font-size: 32px;
  font-weight: $text-heavy;
  line-height: 1.3;
}

@mixin title-h3 {
  font-size: 24px;
  font-weight: $text-heavy;
  line-height: 1.3;
}

/** layout */

@mixin layout {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: $mobile) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
