/** fonts */
$text-heavy: 430;
$text-book: 162;
  $text-medium: 246;
$text-extra-bold: 360;
$text-bold-text: 294;
$text-black-text: 499;

/** colors */
$color-dark: #2c2c2c;
$color-grey-dark: #5f5f5f;
$color-grey: #cccccc;
$color-grey-card: #d9d9d9;
$color-orange-primary: #ff5f15;

/** adaptive */
$mobile: 600px;
$mobile-xs: 400px;
$tablet: 1024px;