@import "./../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;



}

.shell {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.title {
  font-weight: $text-heavy;
  font-size: 14px;
}
