@import "./../../../styles/mixins";

.container {
  @include layout;
  margin-bottom: 200px;
  margin-top: 170px;

  @media (max-width: $mobile) {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
  }
}

.containerCards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 80px;

  @media (max-width: $tablet) {
    gap: 100px;
  }
}
