@import "./../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.buttonCardCall {
  width: 230px;

  @media (max-width: $tablet) {
    width: 190px;
  }
}

.title {
  font-weight: $text-bold-text;
  font-size: 32px;

  @media (max-width: $tablet) {
    font-size: 28px;
  }
  @media (max-width: $mobile) {
    font-size: 28px;
  }
}

.description {
  font-weight: $text-medium;
  font-size: 16px;
  padding-top: 4px;
}

.method{
  font-weight: $text-black-text;
  font-size: 32px;
  padding-bottom: 38px;

  @media (max-width: $tablet) {
    font-size: 24px;
    padding-bottom: 20px;
  }
  @media (max-width: $mobile) {
    font-size: 28px;
    padding-bottom: 18px;
  }
}

.buttonCardCall{
  font-size: 16px;
  padding: 10px 70px;
  background-color: $color-grey-dark;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}