@import "./../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.buttonCardCall {
  width: 230px;
}

.title {
  font-weight: $text-bold-text;
  font-size: 32px;
}

.description {
  font-weight: $text-medium;
  font-size: 16px;
  padding-top: 4px;
}

.method{
  font-weight: $text-black-text;
  font-size: 32px;
  padding-bottom: 38px;
}

.buttonCardCall{
  font-weight: $text-black-text;
  font-size: 16px;
  padding: 10px 70px;
  background-color: $color-grey-dark;
  color: #ffffff;
}